// Extra custom css

body {
    // font-size: 0.8rem;
}

.article-metadata {
    display: none;
}

td {
    // border: 1px solid #aaa;
    padding-left: 10px;
    padding-right: 10px;
}

.projects-container {
    margin-bottom: 2rem;
  }

.schedule-pg table {
    width: 100%;
}

#30_partners {
    background-color: #cfd0ff !important;
}

.people-widget .col-sm-auto {
    width: 33%;
}

#presenters img, #performers img {
    display: none;
}

.powered-by {
    font-size: 0.6rem !important;
}

.branding {
    margin-top: -16px;
    // font-size: 0.5rem !important;
    // padding-bottom: 50px;
}